/* app.css is used to override default foundation css*/
h1, h2, h3, h4, h5, h6{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

body {
	background: white; 
	color: black;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

.top-bar {
	background: #FF940E;
	overflow: visible;
}

.tab-bar {
	/* -webkit-backface-visibility: hidden; */
	/* background: url(../img/stripe_overlay.png) #333333; */
	background: #FF940E;
	color: white;
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: relative;
}

.left-off-canvas-menu {
	/* -webkit-backface-visibility: hidden; */
	width: 15.625rem;
	top: 0;
	bottom: 0;
	position: absolute;
	overflow-y: auto;
	background: #FF940E;
	z-index: 1001;
	box-sizing: content-box;
	transition: transform 500ms ease 0s;
	-webkit-overflow-scrolling: touch;
	-ms-transform: translate(-100%, 0);
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	left: 0;
}

ul.off-canvas-list li label {
	display: block;
	padding: 0.3rem 0.9375rem;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: bold;
	background: #FF940E;
	border-top: 1px solid #5e5e5e;
	border-bottom: none;
	margin: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 15px;
	line-height: 45px;
	background: #FF940E;
}

.panel.callout {
	border-style: solid;
	border-width: 1px;
	border-color: #F46565;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	background: #FDD6D6;
}

button, .button {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
	font-size: 1rem;
	background-color: #FF940E;
	border-color: #1b1b1b;
	color: white;
	transition: background-color 300ms ease-out;
}