#title-logo{
	background: url(../img/Lucky13LogoText.png);
	background-size: 108px 45px;
	width: 108px;
	height:45px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.middle{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#lucky-main {
	min-height: 450px;
}

#lucky-main, #properties-main{
	background: #F7F7F4;
	text-align: left;
	position: relative;
	padding: 65px 20px 65px 20px;
}

#lucky-main #title, #properties-main #title {
	text-align: center;
}

#featured-property-section img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#current-products{
	background: #555555;
	min-height:100px;
	text-align:right;
	position:relative;
	padding: 25px 5px 5px 20px;
}

#lucky-properties{
	/*background: url(../img/gray_background.png), url(../img/lucky13.png);*/
	background: rgba(255, 148, 14, 0.5);
	background-size: auto,cover;
	background-repeat: repeat,no-repeat;
	background-attachment: scroll,fixed;
	background-position: 0% 0%,top center;
	min-height: 550px;
	/*text-align: center;*/
	position: relative;
	padding: 55px 20px 55px 20px;
}

.property-options {
	padding-top: 25px;
}

#lucky-properties h1, #lucky-properties h2, #lucky-properties h3, #lucky-properties h4, #lucky-properties h5 {
	color: white;
}

#lucky-properties .title {
	text-align: center;
}

/*Alt for dimming the top layer of a div*/
/*#lucky-products:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}*/

#property_teaser {
	padding: 20px 0 20px 0;
}

#lucky-contact{
	background: #F2F7F2;
	min-height: 400px;
	/*text-align: center;*/
	position: relative;
	padding: 80px 10px 0 10px;
}

#lucky-contact .title {
	text-align: center;
}

#properties-display {
	background: rgb(254, 201, 134);
	min-height: 450px;
	text-align: left;
	position: relative;
	padding: 65px 20px 65px 20px;
}

#property_listing {

}

#properties .divider{
	height: 2px;
	margin: 10px 5px 10px 10px;
}

.property {
	padding: 40px;
	min-height: 350px;
}

.email_link {
	color: blue;
}

.home_options .button {
	margin: 1px;
}

p.page_marker {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #ffffff;
}

.detail_container {
	padding-bottom: 62px;
}

footer{
	background: #FF940E;
	padding: 15px 0 15px;
}

footer h4{
	color: #ffffff;
}

p.copyright{
margin: 6px 0 0;
font-size: 0.75rem;
color: #eeeeee;
}